:host {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

div {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

app-icon {
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.2em;
}

label {
	color: black;
}
