<template>
	<dl>
		<dt>SENT</dt>
		<dd i18n>Отправлена</dd>
		<dt>TRANSFERRED</dt>
		<dd i18n>Передана</dd>
		<dt>RECEIVED</dt>
		<dd i18n>Получена</dd>
		<dt>CREATED</dt>
		<dd i18n>Создана</dd>
		<dt>CANCELED</dt>
		<dd i18n>Отменена</dd>
		<dt>CHANGE_REQUIRED</dt>
		<dd i18n>Треб. изменений</dd>
		<dt>CREATED_CONFIRMED</dt>
		<dd i18n>Создана и подтверждена</dd>
		<dt>NOT_CONFIRMED_CANCEL</dt>
		<dd i18n>Отмена не подтверждена</dd>
		<dt>CHANGE_REQUIRED_NOT_CONFIRMED</dt>
		<dd i18n>Треб. изменений не подтверждено</dd>
		<dt>CREATED_CANCEL_SENT</dt>
		<dd i18n>Создана. Отправлена отмена</dd>
		<dt>CREATED_CONFIRMED_CANCEL_SENT</dt>
		<dd i18n>Создана и подтверждена. Отправлена отмена</dd>
		<dt>errorMonth</dt>
		<dd i18n>Период должен быть не больше 31 дня.</dd>
	</dl>
</template>
