<div>
	<header>
		<label>Товарный раздел</label>
		<label *ngIf="showContent" (click)="showContent = false">Свернуть</label>
		<label *ngIf="!showContent" (click)="showContent = true">Развернуть</label>
	</header>
	<main *ngIf="showContent">
		<table *ngIf="products.length">
			<thead>
				<tr>
					<th>№</th>
					<th>GTIN</th>
					<th>Наименование товара</th>
					<th>Един. изм-ия</th>
					<th>Заказ. кол-во</th>
					<th>Отгруж. кол-во</th>
					<th>Кол-во груз. мест</th>
					<th>Масса груза, т</th>
					<th>Цена, Br</th>
					<th>Стоимость, Br</th>
					<th>Ставка НДС, %</th>
					<th>Сумма НДС</th>
					<th>Стоимость с НДС</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let product of products.getRawValue(); let i = index">
					<tr (click)="expandRow(i)" [class.selected]="clickId === i">
						<td>{{i + 1}}</td>
						<td>{{product.gtin || "-"}}</td>
						<td>{{product.fullName || "-"}}</td>
						<td>{{product.uom && product.uom.name || "-"}}</td>
						<td>{{product.quantityOrdered || 0}}</td>
						<td>{{product.quantityDespatch || 0}}</td>
						<td>{{product.quantityDespatchLu || 0}}</td>
						<td>{{product.grossWeight || 0}}</td>
						<td>{{product.priceNet || 0}}</td>
						<td>{{product.amountWithoutVat || 0}}</td>
						<td>{{product.vatRate || 0}}</td>
						<td>{{product.amountVat || 0}}</td>
						<td>{{product.amountWithVat || 0}}</td>
						<td>
							<app-icon (click)="edit(product, $event, i)">edit</app-icon>
						</td>
						<td>
							<app-icon (click)="delete(i, $event)">delete</app-icon>
						</td>
					</tr>
					<tr *ngIf="clickId === i">
						<td colspan="14" class="note">
							<div>
								<p *ngIf="product.addInfo"><span class="notice">Примечание:</span> {{product.addInfo}}</p>
								<p>
									<ng-container *ngIf="product.codeByBuyer">Код товара присвоенный поку-лем:
										<span>{{product.codeByBuyer}}</span> </ng-container>
									<ng-container *ngIf="product.codeBySupplier">Код товара присвоенный пост-ком:
										<span>{{product.codeBySupplier}}</span> </ng-container>
									<ng-container *ngIf="product.manufacturerName">Наименование производителя:
										<span>{{product.manufacturerName}}</span> </ng-container>
									<ng-container *ngIf="product.countryOfOrigin">Страна производителя:
										<span>{{product.countryOfOrigin.name}}</span> </ng-container>
									<ng-container *ngIf="product.productionDate">Дата производства:
										<span>{{product.productionDate | date: "dd.MM.yyy"}}</span>
									</ng-container>
									<ng-container *ngIf="product.expireDate">Cрок реализации:
										<span>{{product.expireDate | date: "dd.MM.yyy"}}</span>
									</ng-container>
									<ng-container *ngIf="product.priceManufacturer">Цена изготовителя: <span>{{product.priceManufacturer}}
											Br</span> </ng-container>
									<ng-container *ngIf="product.type">Тип товара:
										<span>{{product.type === "CU" ? "Товар" : "Тара"}}</span> </ng-container>
									<ng-container *ngIf="product.batchNumber">Номер партии: <span>{{product.batchNumber}}</span>
									</ng-container>
									<ng-container *ngIf="product.customDeclarationNumber">Номер таможенной декларации (ГТД):
										<span>{{product.customDeclarationNumber}}</span> </ng-container>
									<ng-container *ngIf="product.certificateNumber">Сертификат: <span>{{product.certificateNumber}}</span>
									</ng-container>
									<ng-container *ngIf="product.addInfo">Примечание: <span>{{product.addInfo}}</span> </ng-container>
									<ng-container *ngIf="product.ultimateAmountWithoutVat">Стоимость без НДС для конечного покупателя:
										<span>{{product.ultimateAmountWithoutVat}}</span> </ng-container>
								</p>
							</div>
						</td>
					</tr>
				</ng-container>
			</tbody>
			<tfoot>
				<tr *ngIf="totalSums">
					<td>Итого</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{totalSums?.quantityDespatch}}</td>
					<td>{{totalSums?.quantityDespatchLu}}</td>
					<td>{{totalSums?.grossWeight}}</td>
					<td></td>
					<td>{{totalSums?.amountWithoutVat}}</td>
					<td></td>
					<td>{{totalSums?.amountVat}}</td>
					<td>{{totalSums?.amountWithVat}}</td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<app-button (click)="addProduct()" icon="add" skin="blue-action">Добавить товар</app-button>
	</main>
</div>
<app-overlay #create></app-overlay>
