:host {
	margin-left: 12px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 13px;
}

.primary {
	font-weight: bold;
	font-family: Roboto-Bold;
	text-transform: uppercase;
}

.sub-primary {
	font-weight: bold;
	font-family: Roboto-Bold;
}

span {
	font-size: 13px;
	color: rgb(25, 25, 25);
	border-bottom: 1px solid #d8d8d8;
	cursor: pointer;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	font-family: Roboto-Regular;
	margin-bottom: 6px;
}

.active {
	font-family: Roboto-Medium;
	color: var(--accent-color);
	border: 0;
}
