:host {
	display: flex;
	padding: 6px 12px;
	align-items: center;
}

app-icon {
	align-self: flex-start;
	font-size: 24px;
	margin-right: 6px;
	color: rgb(56, 67, 90);
}

div {
	color: rgb(26, 26, 26);
	transition: 0.2s;

	&:hover {
		color: rgba(26, 26, 26, 0.8);
	}
}

:host(.active) {
	background: var(--accent-color);
	font-family: Roboto-Bold;

	> * {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}
