<div>
	<table
		*ngIf="draft?.msgEwaybill || draft?.signature?.certificateUserName || draft?.signature?.signatureDate || draft?.signature?.signatureTime">
		<h3>Подписи</h3>
		<tbody>
			<tr *ngIf="draft?.msgEwaybill">
				<td>Подпись Грузоотправителя:</td>
				<td>
					{{[draft?.msgEwaybill?.signature?.certificateUserName, draft?.msgEwaybill?.signature?.signatureDate | date: 'dd.MM.yyy', draft?.msgEwaybill?.signature?.signatureTime] | smartJoin}}
				</td>
			</tr>
			<tr
				*ngIf="draft?.signature?.certificateUserName || draft?.signature?.signatureDate || draft?.signature?.signatureTime">
				<td>Подпись Грузополучателя:</td>
				<td>
					{{[draft?.signature?.certificateUserName, draft?.signature?.signatureDate | date: 'dd.MM.yyy', draft?.signature?.signatureTime] | smartJoin}}
				</td>
			</tr>
		</tbody>
	</table>
</div>