:host {
	display: flex;
	font-size: 13px;
	line-height: 16px;
}

div {
	width: 100%;
	max-width: 1349px;
	padding: 0 50px 26px;
	margin: 0 auto;
	box-sizing: border-box;
}

table {
	cursor: default;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
	padding-bottom: 9px;

	&:first-child {
		color: rgb(77, 77, 77);
		font-family: Roboto-Medium;
		font-weight: 500;
		width: 240px;
	}

	&:nth-child(2) {
		color: rgb(25, 25, 25);
		font-family: Roboto-Regular;
		font-weight: normal;
	}
}

tr {
	&:last-child td {
		padding-bottom: 0;
	}
}

h3 {
	cursor: default;
	margin: 23px 0 9px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: rgb(25, 25, 25);
	font-family: Roboto-Bold;
	font-weight: bold;
	line-height: 24px;
}

.warning,
td.warning {
	color: var(--error-color);
}

.red {
	color: red;
}
