<app-pending *ngIf="(signingStatus$ | async) === 'PENDING'">Подтверждение получения</app-pending>

<header>
	<div>
		<app-icon (click)="goBack()">arrow_back</app-icon>
		<h2 class="text" *ngIf="type === 'BLRDLN' || type === 'BLRDNR'">Товарная накладная</h2>
		<h2 class="text" *ngIf="type === 'BLRWBL' || type === 'BLRWBR'">Товарно-транспортная накладная</h2>
	</div>
</header>

<main>
	<app-shared-ewaybill-signature [draft]="ewaybill"></app-shared-ewaybill-signature>
	<app-ewaybill-view-main-info [draft]="ewaybill" [messageType]="type">
	</app-ewaybill-view-main-info>
	<app-ewaybill-view-products [draft]="ewaybill" [messageType]="type"></app-ewaybill-view-products>
	<app-ewaybill-view-confirmation></app-ewaybill-view-confirmation>
</main>

<footer>
	<button appSkin="simple-gray no-shadow bold" type="button" (click)="confirm()">Подтвердить
		получение</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="check()">Проверить ЭЦП</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="exportXSLX()">Экспорт XSLX</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="exportXML()">Экспорт XML</button>
	<button appSkin="simple no-shadow bold bordered" (click)="goBack()">Закрыть</button>
</footer>


<template #texts>
	<dl>
		<dt>deletionPopupText</dt>
		<dd i18n>Вы действительно хотите удалить черновик электронной накладной?</dd>
		<dt>deletionPopupAgreeButton</dt>
		<dd i18n>Ок</dd>
		<dt>deletionPopupDisagreeButton</dt>
		<dd i18n>Отмена</dd>
		<dt>proxyUnavailable</dt>
		<dd>Не удалось подключиться к EDS Proxy</dd>
	</dl>
</template>
