<div class="info">
	<h3>Общая информация</h3>
	<table>
		<tbody>
			<tr>
				<td i18n>Грузополучатель: </td>
				<td>Общество с ограниченной отвественностью "Организация с очень длинным названием"</td>
			</tr>
			<tr>
				<td i18n>№ пломбы: </td>
				<td>45</td>
			</tr>
		</tbody>
	</table>
	<h3 *ngIf="messageType === 'BLRWBL'">Отместки о составленный актах:</h3>
	<table *ngIf="messageType === 'BLRWBL'">
		<tbody>
			<tr>
				<td i18n>Наименование: </td>
				<td>Акт</td>
			</tr>
			<tr>
				<td i18n>Номер: </td>
				<td>47518 </td>
			</tr>
			<tr>
				<td i18n>От: </td>
				<td>14.01.2017 </td>
			</tr>
		</tbody>
	</table>
	<h3>Дополнительные поля грузополучателя:</h3>
	<table>
		<tbody>
			<tr>
				<td i18n>Дополнительные данные: </td>
				<td>Доп. отметки к накладной</td>
			</tr>
		</tbody>
	</table>
</div>
