<template>
	<dl>
		<dt>checkSignOK</dt>
		<dd i18n>Успешно прошла проверка на целостность и подлинность.</dd>
		<dt>checkSignError</dt>
		<dd i18n>Не прошла проверка на целостность и подлинность.</dd>
		<dt>defaultError</dt>
		<dd i18n>Произошла неизвестная ошибка на стороне сервера.</dd>
		<dt>required</dt>
		<dd i18n>Не заполнено обязательное поле</dd>
		<dt>pattern</dt>
		<dd i18n>Адрес электронной почты должен содержать символ "@".</dd>
		<dt>maxlength</dt>
		<dd i18n>Превышена максимальная длина</dd>
		<dt>minlength</dt>
		<dd i18n>Слишком мало символов</dd>
		<dt>notGLN</dt>
		<dd i18n>Не является GLN</dd>
		<dt>email</dt>
		<dd i18n>Некорректный</dd>
		<dt>proxyUnavailable</dt>
		<dd>Не удалось подключиться к EDS Proxy</dd>
		<dt>notGTIN</dt>
		<dd i18n>Некорректное контрольное число</dd>
		<dt>userActivationSuccess</dt>
		<dd i18n>Пользователь успешно активирован. Используйте новый пароль для входа в систему</dd>
		<dt>from</dt>
		<dd i18n>от</dd>
		<dt>to</dt>
		<dd i18n>до</dd>
		<dt>issued</dt>
		<dd i18n>выданный</dd>

		<dt>productsError</dt>
		<dd>Добавьте товары/услуги</dd>
		<dt>saveSuccess</dt>
		<dd>Черновик сохранён</dd>
		<dt>invalid</dt>
		<dd>Невозможно подписать невалидную форму</dd>
		<dt>deletionPopupText</dt>
		<dd i18n>Вы действительно хотите удалить черновик электронного акта?</dd>
		<dt>processSignThenSendPopupText</dt>
		<dd i18n>Вы действительно хотите подписать и отправить электронный акт?</dd>
		<dt>ok</dt>
		<dd i18n>Ок</dd>
		<dt>cancel</dt>
		<dd i18n>Отмена</dd>
	</dl>
</template>