<main>
	<section>
		<h1>Документы, с которыми работает организация</h1>
		<div>
			<div>
				<label>Документы входящие:</label>
				<app-textbox></app-textbox>
			</div>
			<div>
				<label>Документы исходящие:</label>
				<app-textbox></app-textbox>
			</div>
			<div>
				<label>Дата начала работы с эНакладными:</label>
				<app-datebox></app-datebox>
			</div>
		</div>
	</section>
	<section>
		<h1>Доступные разделы для организации</h1>
		<main>
			<section>
				<div>
					<app-checkbox></app-checkbox>
					<label>Работа с документами</label>
				</div>
				<div class="sub-section">
					<div>
						<app-checkbox></app-checkbox>
						<label>Документы</label>
					</div>
				</div>
			</section>
			<section>
				<div>
					<app-checkbox></app-checkbox>
					<label>Настройка</label>
				</div>
				<div class="sub-section">
					<div>
						<app-checkbox></app-checkbox>
						<label>Моя организация</label>
					</div>
					<div>
						<app-checkbox></app-checkbox>
						<label>Мой профиль</label>
					</div>
					<div>
						<app-checkbox></app-checkbox>
						<label>Управление пользователями</label>
					</div>
					<div>
						<app-checkbox></app-checkbox>
						<label>Уведомления</label>
					</div>
				</div>
			</section>
			<section>
				<div>
					<app-checkbox></app-checkbox>
					<label>Статистика</label>
				</div>
				<div class="sub-section">
					<div>
						<app-checkbox></app-checkbox>
						<label>Статистика по эНакладным</label>
					</div>
				</div>
			</section>
		</main>
	</section>
</main>
<hr>
