<main>
	<div>
		<app-checkbox></app-checkbox>
		<label>Синхронизироваться с БЭПТ</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Внутренний пользователь (Софт клиента расположен на серверах EDI-провайдера)	</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Может использоваться для получения сообщений другими организациями</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Является третьим лицом</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Резидент оффшорной зоны (ЭСЧФ)</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Торгует товарами из перечня (ЭСЧФ)</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Крупный плательщик (ЭСЧФ)</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Только тестовые эНакладные</label>
	</div>
	<div>
		<app-checkbox></app-checkbox>
		<label>Включить тестовые накладные в статистику для оплаты</label>
	</div>
	<div>
		<div>
			<app-checkbox></app-checkbox>
			<label>Включить тестовые накладные в статистику для оплаты</label>
		</div>
		<div>
			<label>Код провайдера:</label>
			<app-textbox></app-textbox>
		</div>
	</div>
</main>
<hr>
