<header>
	<div>
		<app-icon (click)="goBack()">arrow_back</app-icon>
		<h2 class="text">Электронный акт</h2>
	</div>
</header>

<app-pending *ngIf="(signingStatus$ | async) === 'PENDING'">Подписание</app-pending>
<app-overlay #editPopup></app-overlay>

<main>
	<app-shared-einvoice-signature [draft]="einvoice"></app-shared-einvoice-signature>
	<app-einvoice-commom-info-view [draft]="einvoice"></app-einvoice-commom-info-view>
	<app-einvoice-view-products [draft]="einvoice"></app-einvoice-view-products>
	<app-einvoice-view-confirmation></app-einvoice-view-confirmation>
</main>

<footer>
	<button appSkin="action no-shadow bordered" (click)="processSignThenSend()">Подписать и отправить</button>
	<button appSkin="simple-gray no-shadow bold" (click)="edit()">Изменить</button>
	<button appSkin="simple-gray no-shadow bold" (click)="checkEDS()">Проверить ЭЦП</button>
	<button appSkin="simple-gray no-shadow bold" (click)="exportXSLX()">Экспорт XSLX</button>
	<button appSkin="simple-gray no-shadow bold" (click)="exportXML()">Экспорт XML</button>
	<button appSkin="simple no-shadow bold bordered" (click)="goBack()">Закрыть</button>
</footer>