:host {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;

	background: white;
}

header {
	display: flex;
	flex-direction: column;
	background-color: rgba(240, 240, 240, 0.76);
	box-shadow: 0 0 3px 0 rgba(0, 10, 51, 0.36);

	> div {
		display: flex;
		padding: 23px 50px;
		align-items: center;
		max-width: 1366px;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
	}
}

app-icon {
	font-size: 24px;
	cursor: pointer;

	&:hover {
		margin: -4px;
		padding: 4px;
		color: rgba(25, 25, 25, 0.8);
		background-color: #fff;
		border-radius: 50%;
		opacity: 1;
	}
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding-top: 20px;
	box-shadow: 0 0 3px 0 rgba(0, 10, 51, 0.36);

	> *:not(:last-child) {
		width: 100%;
		padding: 0;
		display: block;
		box-sizing: border-box;
		padding: 0 50px;
		max-width: 1349px;
		margin: 0 auto;
	}
}

h2 {
	margin: 0 auto;
	line-height: 24px;
	cursor: default;
}

form {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

button {
	margin-right: 10px;
	margin-bottom: 8px;
	padding: 8px 10px;

	&:last-child {
		margin-right: 0;
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	padding: 26px 50px 27px 50px;

	nav {
		max-width: 1266px;
		margin: 0 auto;
		width: 100%;

		.change-total-sums {
			width: 230px;
		}

		button {
			width: 140px;
		}
	}
}
