<h3>Дополнительные поля</h3>
<ng-container *ngIf="formArray">
	<section *ngIf="!formArray.length">
		<app-button type="button" (click)="addDocument()" skin="add-field" icon="add">Добавить дополнительное
			поле
		</app-button>
	</section>
	<section *ngIf="formArray.length">
		<label>
			<span>Справочник полей:</span>
			<button type="button" class="pointer" (click)="clearAllDocs()">
				<app-icon>delete</app-icon>
				Удалить
			</button>
		</label>
		<div>
			<div class="document" *ngFor="let formGroup of formArray?.controls; let i = index">
				<fieldset [formGroup]="formGroup">
					<app-select-box-self-fetch [option]="itemExtraFieldsSelectBoxOption" formControlName="dictionary" [otherEmptyValue]="emptyValue"></app-select-box-self-fetch>
					<app-textbox placeholder="Название" formControlName="fieldName" name="Название (справочник полей)">
					</app-textbox>
					<app-textbox placeholder="Значение" formControlName="fieldValue" maxLength="255" name="Значение (справочник полей)">
					</app-textbox>
					<app-textbox placeholder="Код" formControlName="fieldCode" maxLength="6" name="Код (справочник полей)">
					</app-textbox>
				</fieldset>
				<nav>
					<app-icon class="basket" (click)="removeDocumentAt(i)">delete</app-icon>
					<app-icon class="add" (click)="addDocument()">add</app-icon>
				</nav>
			</div>
		</div>
	</section>
</ng-container>
<template #emptyValue>
	<dl>
		<dt json>null</dt>
		<dd i18n>Свое</dd>
	</dl>
</template>
