:host {
	display: contents;
}

form {
	font-size: 13px;
}

app-passwordbox {
	margin-bottom: 12px;
	width: 320px;
}

button {
	font-family: Roboto-Medium;
	font-size: 14px;
	border-radius: 3px;
	height: 40px;
	width: 140px;
}

nav {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

label {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4px;
	span:first-child {
		margin-right: 5px;
	}
}

input {
	border-radius: 3px;
	border: 1px solid rgb(195, 199, 210);
	padding: 5px;
	margin: 0;
	width: 100%;
	outline: none;
	box-sizing: border-box;

	&:focus {
		border-color: var(--outline-color);
	}
}

div.field {
	width: 320px;
	margin-bottom: 12px;
}

.error {
	text-align: right;
	color: rgb(252, 121, 95);
}

button[disabled] {
	background-color: #808080de;
	cursor: not-allowed;
	opacity: 0.5;
}
