<ng-container *ngIf="providerConfirmation?.sendingEwaybillSubunit as sendingEwaybillSubunit">
	<h3 i18n>Отправка электронной накладной</h3>
	<table>
		<tbody>
		<tr *ngIf="sendingEwaybillSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{sendingEwaybillSubunit.receivingTimestamp ? (sendingEwaybillSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузоотправителя</td>
			<td i18n>Подтверждение о получении</td>
			<td>-</td>
			<ng-container *ngIf="sendingEwaybillSubunit.shipperProviderSendingConfirmBlrapn && sendingEwaybillSubunit.shipperProviderSendingConfirmBlrapn.blrapnCode === 2560 && +ewaybill?.functionCode === 9">
				<td i18n>Подтверждение об отправке</td>
				<td>
					{{sendingEwaybillSubunit.shipperProviderSendingConfirm ? (sendingEwaybillSubunit.shipperProviderSendingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузополучателя</td>
			<ng-container *ngIf="sendingEwaybillSubunit.receiverProviderReceivingConfirmBlrapn && sendingEwaybillSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2550 && +ewaybill?.functionCode === 9">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{sendingEwaybillSubunit.receiverProviderReceivingConfirm ? (sendingEwaybillSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<ng-container *ngIf="sendingEwaybillSubunit.receiverProviderSendingConfirmBlrapn && sendingEwaybillSubunit.receiverProviderSendingConfirmBlrapn.blrapnCode === 2560 && +ewaybill?.functionCode === 9">
				<td i18n>Подтверждение об отправке</td>
				<td>
					{{sendingEwaybillSubunit.receiverProviderSendingConfirm ? (sendingEwaybillSubunit.receiverProviderSendingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
		</tr>
		</tbody>
	</table>
</ng-container>

<ng-container *ngIf="providerConfirmation?.ewaybillReceivingConfirmSubunit as ewaybillReceivingConfirmSubunit">
	<h3 i18n>Подтверждение получения электронной накладной</h3>
	<table>
		<tbody>
		<tr *ngIf="ewaybillReceivingConfirmSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{ewaybillReceivingConfirmSubunit.receivingTimestamp ? (ewaybillReceivingConfirmSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузоотправителя</td>
			<ng-container *ngIf="ewaybillReceivingConfirmSubunit.shipperProviderReceivingConfirmBlrapn && ewaybillReceivingConfirmSubunit.shipperProviderReceivingConfirmBlrapn.blrapnCode === 2551">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{ewaybillReceivingConfirmSubunit.shipperProviderReceivingConfirm ? (ewaybillReceivingConfirmSubunit.shipperProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<ng-container>
				<td i18n>Подтверждение об отправке</td>
				<td>—</td>
			</ng-container>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузополучателя</td>
			<ng-container *ngIf="ewaybillReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn && ewaybillReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2551">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{ewaybillReceivingConfirmSubunit.receiverProviderReceivingConfirm ? (ewaybillReceivingConfirmSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<td i18n>Подтверждение об отправке</td>
			<td>—</td>
		</tr>
		</tbody>
	</table>
</ng-container>

<ng-container *ngIf="providerConfirmation?.responseOnEwaybillSendingSubunit as responseOnEwaybillSendingSubunit">
	<h3 i18n>Отправка ответа на электронную накладную</h3>
	<table>
		<tbody>
		<tr *ngIf="responseOnEwaybillSendingSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{responseOnEwaybillSendingSubunit.receivingTimestamp ? (responseOnEwaybillSendingSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузоотправителя</td>
			<ng-container *ngIf="responseOnEwaybillSendingSubunit.shipperProviderReceivingConfirmBlrapn && responseOnEwaybillSendingSubunit.shipperProviderReceivingConfirmBlrapn.blrapnCode === 2550">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{responseOnEwaybillSendingSubunit.shipperProviderReceivingConfirm ? (responseOnEwaybillSendingSubunit.shipperProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<td i18n>Подтверждение об отправке</td>
			<td>—</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузополучателя</td>
			<ng-container *ngIf="responseOnEwaybillSendingSubunit.receiverProviderReceivingConfirmBlrapn && responseOnEwaybillSendingSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2550">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{responseOnEwaybillSendingSubunit.receiverProviderReceivingConfirm ? (responseOnEwaybillSendingSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<ng-container *ngIf="responseOnEwaybillSendingSubunit.receiverProviderSendingConfirmBlrapn && responseOnEwaybillSendingSubunit.receiverProviderSendingConfirmBlrapn.blrapnCode === 2560">
				<td i18n>Подтверждение об отправке</td>
				<td>
					{{responseOnEwaybillSendingSubunit.receiverProviderSendingConfirm ? (responseOnEwaybillSendingSubunit.receiverProviderSendingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
		</tr>
		</tbody>
	</table>
</ng-container>

<ng-container
	*ngIf="providerConfirmation?.responseOnEwaybillReceivingConfirmSubunit as responseOnEwaybillReceivingConfirmSubunit">
	<h3 i18n>Подтверждение получения ответа на электронную накладную</h3>
	<table>
		<tbody>
		<tr *ngIf="responseOnEwaybillReceivingConfirmSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{responseOnEwaybillReceivingConfirmSubunit.receivingTimestamp ? (responseOnEwaybillReceivingConfirmSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузоотправителя</td>
			<td i18n>Подтверждение о получении</td>
			<td>—</td>
			<td i18n>Подтверждение об отправке</td>
			<td>—</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузополучателя</td>
			<ng-container *ngIf="responseOnEwaybillReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn && responseOnEwaybillReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2551">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{responseOnEwaybillReceivingConfirmSubunit.receiverProviderReceivingConfirm ? (responseOnEwaybillReceivingConfirmSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<td i18n>Подтверждение об отправке</td>
			<td>—</td>
		</tr>
		</tbody>
	</table>
</ng-container>

<ng-container
	*ngIf="providerConfirmation?.ewaybillCancelSendingSubunit as ewaybillCancelSendingSubunit">
	<h3 i18n>Отправка отмены электронной накладной</h3>
	<table>
		<tbody>
		<tr *ngIf="+ewaybill?.functionCode === 1 && ewaybillCancelSendingSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{ewaybillCancelSendingSubunit.receivingTimestamp ? (ewaybillCancelSendingSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузоотправителя</td>
			<td i18n>Подтверждение о получении</td>
			<td>—</td>
			<ng-container *ngIf="ewaybillCancelSendingSubunit.shipperProviderSendingConfirmBlrapn && ewaybillCancelSendingSubunit.shipperProviderSendingConfirmBlrapn.blrapnCode === 2560 && +ewaybill?.functionCode === 1">
				<td i18n>Подтверждение об отправке</td>
				<td>
					{{ewaybillCancelSendingSubunit.shipperProviderSendingConfirm ? (ewaybillCancelSendingSubunit.shipperProviderSendingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
		</tr>
		<tr>
			<td i18n>EDI-провайдер грузополучателя</td>
			<ng-container *ngIf="ewaybillCancelSendingSubunit.receiverProviderReceivingConfirmBlrapn && ewaybillCancelSendingSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2560 && +ewaybill?.functionCode === 1">
				<td i18n>Подтверждение о получении</td>
				<td>
					{{ewaybillCancelSendingSubunit.receiverProviderReceivingConfirm ? (ewaybillCancelSendingSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
			<ng-container *ngIf="ewaybillCancelSendingSubunit.receiverProviderSendingConfirmBlrapn && ewaybillCancelSendingSubunit.receiverProviderSendingConfirmBlrapn.blrapnCode === 2550 && +ewaybill?.functionCode === 1">
				<td i18n>Подтверждение об отправке</td>
				<td>
					{{ewaybillCancelSendingSubunit.receiverProviderSendingConfirm ? (ewaybillCancelSendingSubunit.receiverProviderSendingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
				</td>
			</ng-container>
		</tr>
		</tbody>
	</table>
</ng-container>

<ng-container
	*ngIf="providerConfirmation?.ewaybillCancelReceivingConfirmSubunit as ewaybillCancelReceivingConfirmSubunit">
	<h3 i18n>Подтверждение получения отмены электронной накладной</h3>
	<table>
		<tbody>
		<tr *ngIf="+ewaybill?.functionCode === 1 && ewaybillCancelReceivingConfirmSubunit.receivingTimestamp">
			<td i18n>Дата и время получения</td>
			<td>
				{{ewaybillCancelReceivingConfirmSubunit.receivingTimestamp ? (ewaybillCancelReceivingConfirmSubunit.receivingTimestamp | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr *ngIf="ewaybillCancelReceivingConfirmSubunit.shipperProviderReceivingConfirmBlrapn && ewaybillCancelReceivingConfirmSubunit.shipperProviderReceivingConfirmBlrapn.blrapnCode === 2551">
			<td i18n>EDI-провайдер грузоотправителя</td>
			<td i18n>Подтверждение о получении</td>
			<td>
				{{ewaybillCancelReceivingConfirmSubunit.shipperProviderReceivingConfirm ? (ewaybillCancelReceivingConfirmSubunit.shipperProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		<tr *ngIf="ewaybillCancelReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn && ewaybillCancelReceivingConfirmSubunit.receiverProviderReceivingConfirmBlrapn.blrapnCode === 2551">
			<td i18n>Подтверждение об отправке грузополучателя</td>
			<td i18n>Подтверждение о получении</td>
			<td>
				{{ewaybillCancelReceivingConfirmSubunit.receiverProviderReceivingConfirm ? (ewaybillCancelReceivingConfirmSubunit.receiverProviderReceivingConfirm | date:'dd.MM.yyy HH:mm:ss') : "—"}}
			</td>
		</tr>
		</tbody>
	</table>
</ng-container>
