:host {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

button {
	line-height: 24px;
	font-size: 14px;
}

section {
	width: 600px;
	height: 294px;
	background: white;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	line-height: 50px;
	background: rgb(249, 249, 249);
	padding: 0 16px 0 26px;
	margin-bottom: 26px;
	border-radius: 7px 7px 0px 0px;

	label {
		font-family: Roboto-Bold;
		line-height: 24px;
	}

	app-icon {
		font-size: 24px;
		cursor: pointer;
	}
}

form {
	height: 129px;
	padding: 0 0 0 26px;

	app-passwordbox {
		width: 350px;
	}

	div:last-child {
		margin-bottom: 0;
	}

	div {
		display: flex;
		margin-bottom: 6px;
		height: 43px;

		label {
			width: 198px;
			color: rgb(77, 77, 77);
			font-family: Roboto-Medium;
			font-size: 13px;
			line-height: 27px;
		}
	}
}

.control-box {
	flex-direction: column;
	width: 350px;
}

footer {
	display: flex;
	flex-flow: row;
	height: 34px;
	padding: 26px 0 29px 26px;

	button {
		height: 34px;
		width: 100px;
		font-size: 14px;
		margin-right: 10px;
	}
}

.required:after {
	content: "*";
	color: rgb(255, 0, 0);
	font-size: 15px;
	margin-left: 2px;
	line-height: 0;
}

.error {
	white-space: nowrap;
	color: rgb(252, 121, 95);
	font-size: 12px;
	line-height: 16px;
}
