<section>
	<header>
		<label i18n>Изменение пароля</label>
		<app-icon (click)="close()">close</app-icon>
	</header>
	<form [formGroup]="form">
		<div>
			<label class="required">Старый пароль:</label>
			<div class="control-box">
				<app-passwordbox
					[class.error]="form?.get('previousPassword')?.errors || (errorMessages && errorMessages['previousPassword'])"
					formControlName="previousPassword">
				</app-passwordbox>

				<span class="error" *ngIf="errorMessages && errorMessages['previousPassword']">
					<ng-container *ngFor="let err of errorMessages['previousPassword']">
						{{getMessage(err) || "Unknown message"}}
					</ng-container>
				</span>
			</div>
		</div>
		<div>
			<label class="required">Новый пароль:</label>
			<div class="control-box">
				<app-passwordbox
					[class.error]="form?.get('newPassword')?.errors || (errorMessages && errorMessages['newPassword'])"
					formControlName="newPassword">
				</app-passwordbox>
				<span class="error"
					*ngIf="form?.get('newPassword')?.hasError('pattern') && !(form?.get('newPassword')?.hasError('minlength') || form?.get('newPassword')?.hasError('maxlength'))">
					{{getMessage('pattern') || "Unknown message"}}</span>
				<span class="error"
					*ngIf="form?.get('newPassword')?.hasError('minlength') || form?.get('newPassword')?.hasError('maxlength')">
					{{getMessage('length') || "Unknown message"}}</span>
				<span class="error"
					*ngIf="form?.get('newPassword')?.hasError('repeating') && !form?.get('newPassword')?.hasError('pattern') && !(form?.get('newPassword')?.hasError('minlength') || form?.get('newPassword')?.hasError('maxlength'))">
					{{getMessage('repeating') || "Unknown message"}}</span>

				<span class="error" *ngIf="errorMessages && errorMessages['newPassword']">
					<ng-container *ngFor="let err of errorMessages['newPassword']">
						{{getMessage(err) || "Unknown message"}}
					</ng-container>
				</span>
			</div>
		</div>
		<div>
			<label class="required">Подтвердить новый пароль:</label>
			<div class="control-box">
				<app-passwordbox
					[class.error]="form?.get('newPasswordReplay')?.errors || form?.hasError('doNotMatch') || (errorMessages && errorMessages['newPasswordReplay'])"
					formControlName="newPasswordReplay">
				</app-passwordbox>
				<span class="error" *ngIf="form?.hasError('doNotMatch')">{{getMessage('LE-33') || "Unknown message"}}</span>

				<span class="error" *ngIf="errorMessages && errorMessages['newPasswordReplay']">
					<ng-container *ngFor="let err of errorMessages['newPasswordReplay']">
						{{getMessage(err) || "Unknown message"}}
					</ng-container>
				</span>
			</div>
		</div>
	</form>
	<footer>
		<button appSkin="action-save" (click)="save()">Сохранить</button>
		<button appSkin="simple-cancel" (click)="close()">Закрыть</button>
	</footer>
</section>

<template #messagesErrors>
	<dl>
		<dt>pattern</dt>
		<dd i18n>Пароль может состоять из латинских букв и цифр.</dd>
		<dt>length</dt>
		<dd i18n>Длина пароля от 8 до 32 символов.</dd>
		<dt>repeating</dt>
		<dd i18n>Пароль должен иметь не менее 8 неповторяющихся символов.</dd>
		<dt>LE-6</dt>
		<dd i18n>Поле не соответствует формату.</dd>
		<dt>LE-32</dt>
		<dd i18n>Текущий пароль введен неверно.</dd>
		<dt>LE-17</dt>
		<dd i18n>Заполнените поле.</dd>
		<dt>LE-33</dt>
		<dd i18n>Новый пароль и его подтверждение отличаются.</dd>
	</dl>
</template>