fieldset > div {
	display: inline-block;
	margin-right: 10px;
}

nav > button {
	height: 28px;
	margin-right: 5px;
	box-sizing: border-box;
}

nav {
	display: inline-block;
	margin-bottom: 15px;
	vertical-align: bottom;
}
