.triangle {
	z-index: 0;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgb(255, 255, 255);
}

ul {
	width: 100%;
	cursor: pointer;
	margin-left: 16px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 0px rgba(46, 49, 66, 0.3),
		0px 4px 12px 0px rgba(46, 49, 66, 0.3);
	background-color: rgb(255, 255, 255);
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	li {
		color: #000000;
		padding-left: 14px;
		font-size: 14px;
		line-height: 28px;

		&:hover:not(.more) {
			background-color: rgb(214, 233, 252);
		}
	}
}
