:host {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	border-radius: 3px;
	border: 1px solid rgb(195, 199, 210);
	padding: 5px;
	margin: 0;
	width: 100%;

	outline: none;

	&:focus {
		border-color: var(--outline-color);
	}
}

:host-context(.without-border) input {
	border-radius: 0;
	border: 1px solid transparent;
}

:host-context(.without-radius) input {
	border-radius: 0;
}

:host-context(.error) input {
	border: 1px solid var(--error-color);
}
