<header>
	<div>
		<app-icon (click)="goBack()">arrow_back</app-icon>
		<h2 class="text" *ngIf="type === 'BLRDLN' || type === 'BLRDNR'">Товарная накладная</h2>
		<h2 class="text" *ngIf="type === 'BLRWBL' || type === 'BLRWBR'">Товарно-транспортная накладная</h2>
	</div>
</header>
<section class="main-part">
	<app-shared-ewaybill-signature [draft]="ewaybill"></app-shared-ewaybill-signature>
	<app-ewaybill-view-main-info [draft]="ewaybill" [messageType]="type">
	</app-ewaybill-view-main-info>
	<app-ewaybill-view-products [draft]="ewaybill" [messageType]="type"></app-ewaybill-view-products>
	<app-ewaybill-view-confirmation></app-ewaybill-view-confirmation>
</section>

<app-overlay #editPopup></app-overlay>

<footer>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="process()">Обработать</button>
	<button appSkin="simple-gray no-shadow bold" (click)="edit()">Изменить</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="check()">Проверить ЭЦП</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="exportXSLX()">Экспорт XSLX</button>
	<button appSkin="simple-gray no-shadow bold bordered" (click)="exportXML()">Экспорт XML</button>
	<button appSkin="simple no-shadow bold bordered" (click)="goBack()">Закрыть</button>
</footer>