<header>
	<div>
		<app-icon (click)="goBack()">arrow_back</app-icon>
		<h2 class="text">Электронный акт</h2>
	</div>
</header>

<app-pending *ngIf="(signingStatus$ | async) === 'PENDING'">Подписание</app-pending>

<form *ngIf="(form$ | async) as form" [appSrollToFirstIvalidDerictive]="mainRef" (ngSubmit)="submit(form)"
	[formGroup]="form">
	<main #mainRef>
		<section>
			<app-einvoice-common-information [form]="form.get('common')"></app-einvoice-common-information>
			<app-einvoice-supplier [form]="form.get('supplier')"></app-einvoice-supplier>
			<app-einvoice-buyer [form]="form.get('buyer')"></app-einvoice-buyer>
			<!-- <app-einvoice-shipper [form]="form.get('shipper')"></app-einvoice-shipper> -->
			<!-- <app-einvoice-consignee [form]="form.get('consignee')"></app-einvoice-consignee> -->
			<!-- <app-einvoice-places-shipment-delivery [partnerId]="form.get('consignee').get('dictionary').value?.id"
				[form]="form.get('places')">
			</app-einvoice-places-shipment-delivery> -->
			<app-einvoice-extra-information #extraInfo [form]="form.get('extras')">
			</app-einvoice-extra-information>
		</section>
		<app-einvoice-products-list [form]="form.get('products')" [messageType]="draftType"></app-einvoice-products-list>
	</main>

	<footer>
		<nav>
			<button type="button" appSkin="action no-shadow bold bordered" type="submit">Подписать</button>
			<button type="button" appSkin="action no-shadow bold bordered" (click)="save(form)">Сохранить</button>
			<button *ngIf="mode === 'edit'" type="button" appSkin="simple-gray no-shadow bold"
				(click)="delete()">Удалить</button>
			<button type="button" appSkin="simple-gray no-shadow bold" class="change-sum" (click)="changeSum(form)">Изменить
				итоговые суммы</button>
			<button type="button" appSkin="simple no-shadow bold bordered" (click)="goBack()">Закрыть</button>
		</nav>
	</footer>
</form>