:host {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 100%;
	margin: 0;
	padding: 6px 7px;
	font-size: 13px;
	line-height: 14px;
	border-radius: 3px;
	border: 1px solid rgb(195, 199, 210);
	outline: none;
	box-sizing: border-box;

	&:focus {
		border-color: var(--outline-color);
	}

	&:disabled {
		color: #676767;
		background-color: #efefef;
	}

	&::-webkit-input-placeholder {
		color: rgba(84, 84, 84, 0.8);
	}
}

:host-context(.sum-item) input {
	width: 340px;
	padding: 4px;
	color: white;
	border-color: #bcc7d6;
	background-color: #98a4b5;
}

:host-context(.error) input {
	border: 1px solid var(--error-color);
}

.error {
	border: 1px solid var(--error-color);
}
