tbody {
	tr:hover > td:last-child app-icon {
		visibility: visible;
	}

	td {
		&:nth-child(3) {
			width: 91px;
		}

		&:last-child {
			width: 7%;

			app-icon {
				visibility: hidden;
				margin-right: 17px;
				font-size: 20px;

				&:last-child {
					color: red;
				}
			}
		}
	}

	td.state {
		span,
		app-icon {
			display: inline-block;
			vertical-align: middle;
		}

		app-icon {
			margin-right: 3px;
		}
	}
}
